/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  color: #222;
}
button,
label {
  cursor: pointer;
}

/* body */
body {
  margin: 0;
  height: 100vh;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form */
form {
}

/* login_form */
.login_form {
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.field {
  margin: 10px 0;
}
.field.user_check {
  text-align: center;
  font-size: 14px;
}
.field b {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
}
.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 7px;
  border-radius: 3px;
}
.field textarea {
  width: 100%;
  height: 100px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px;
}
.field span {
}
.field_btn {
  background-color: limegreen;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  opacity: 0.8;
  transition: 0.35s;
  box-sizing: border-box;
}
.field_btn:hover {
  opacity: 1;
}
