/* Default CSS */
* {
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
  color: #333;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-size: 40px;
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #333;
}
.container {
  height: inherit;
  text-align: center;
}
header,
footer {
  background-color: #a1905f;
  height: 100px;
  line-height: 100px;
}
section {
  display: flex;
  height: calc(100vh - 200px);
  line-height: calc(100vh - 200px);
}
nav,
section aside {
  background-color: #f0ebe4;
  flex-basis: 250px;
}
section article {
  flex: 1;
}
