/* ############### Mobile ############### */
@media (max-width: 767px) {
  body {
    height: auto;
    background-color: #eee;
    padding: 20px;
  }
  .container {
    display: block;
    /* padding: 20px; */
  }
  /* ########## Login Form ########## */
  .login {
    width: 100%;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
  .login h2 {
    text-align: center;
  }
  .sns_login {
    margin: 30px 0 20px 0;
    flex-direction: column;
    gap: 8px;
  }
  .sns_login span:nth-child(1) a::before {
    left: 15%;
  }
  .sns_login span:nth-child(2) a::before {
    left: 15%;
  }
  .sns_login span:nth-child(3) a::before {
    left: 15%;
  }
  .text_field {
    flex-direction: column;
    margin: 5px 0;
    gap: 7px;
  }
  .btn_login {
    float: none;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    margin-top: 20px;
  }
}
