/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
/* FontAwesome CDN 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Reset CSS */
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Default CSS */
body {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  background-color: #fff;
}
/* ########## Entire layout ########## */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  position: relative;
  height: 100%;
}
.content {
  background-color: #ddd;
  position: absolute;
  width: calc(100vw - 40px);
  height: calc(100vh - 80px);
  left: 20px;
  bottom: 20px;
  overflow: hidden;
}
/* ########## Header ########## */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.gnb-inner {
  height: 60px;
  line-height: 60px;
  width: calc(100% - 40px);
  margin: auto;
}
.logo {
  float: left;
}
.logo img {
  margin-top: 20px;
}
.gnb {
  float: right;
}
.menu {
  display: none;
}
.slogan {
  font-size: 18px;
  font-style: italic;
}
/* ########## Trigger ########## */
.trigger {
  display: none;
}
/* ########## Button - Hiring ########## */
.btn_hiring {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
  padding: 10px 20px;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
  transition: 0.5s;
}
.btn_hiring:active {
  transform: scale(0.5);
}
.btn_hiring i {
  transform: rotateY(180deg);
}
/* Button - Go To Top */
.btn_top {
  display: none;
}
/* ########## Section : Home ########## */
.home-inner {
  height: 100%;
  background-color: #fff;
}
.home-inner::before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  animation: overlay 1s 2s ease-in-out both;
}
.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.2em;
  animation: slideUp 2s linear both;
}
.welcome-text span {
  display: block;
  font-size: 25px;
}
.welcome-text i {
  color: crimson;
}
.opacity-image {
  background: url(./images/section-bg-01.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  opacity: 0;
  animation: opacity-image 1s 2.5s ease-in both;
}
.home-heading {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translateY(-50%);
}
.home-heading span {
  display: block;
  font-size: 115px;
  color: #fff;
  font-weight: 600;
  width: 0;
  overflow: hidden;
  animation: reveal 1s ease-in-out both;
}
.home-heading span:nth-child(1) {
  animation-delay: 3s;
}
.home-heading span:nth-child(2) {
  animation-delay: 3.2s;
}
.home-heading span:nth-child(3) {
  animation-delay: 3.4s;
}
/* ##### Animation ##### */
@keyframes slideUp {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  20% {
    opacity: 1;
    margin-top: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes overlay {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes opacity-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* ########## Section : About ########## */
.about-inner {
  position: relative;
  background: #0dace3 url(./images/line-drawing.png) no-repeat right bottom;
  height: 100%;
}
.about-items {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  color: #fff;
}
.about-items .item {
  width: 90%;
  margin-left: auto;
  margin-bottom: 80px;
}
.about-items .item:last-of-type {
  margin-bottom: 0;
}
.about-items .item img {
  width: 120px;
  float: left;
  margin-right: 20px;
  filter: invert(100%);
  transition: 0.35s;
}
.about-items .item:hover img {
  filter: invert(0);
}
.about-items .item h3 {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  transition: 0.5s;
}
.about-items .item:hover h3 {
  color: #000;
}

.about-items .item p {
  margin: 0;
  font-size: 18px;
  margin-top: 5px;
  overflow: hidden;
}
/* ########## Section : Project ########## */
.project-inner {
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #ddd;
}
.tabs {
  width: 300%;
  height: 100%;
  transition: 0.5s;
}
.tab {
  width: calc(100% / 3);
  height: 100%;
  float: left;
}
.tab > div {
  float: left;
  height: 100%;
}
.project-info {
  padding: 30px;
  width: 25%;
}
.project-info h3 {
  position: relative;
}
.tab .project-info h3::before {
  content: "01";
  position: absolute;
  top: -60px;
  left: -20px;
  color: #eee;
  font-size: 100px;
  font-weight: 400;
  z-index: -1;
}
.tab:nth-of-type(1) .project-info h3::before {
  content: "01";
}
.tab:nth-of-type(2) .project-info h3::before {
  content: "02";
}
.tab:nth-of-type(3) .project-info h3::before {
  content: "03";
}
.project-info p {
  margin-top: 25px;
  line-height: 1.5em;
}
.project-info ul {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  line-height: 2em;
}
.project-info li {
  font-size: 16px;
}
.project-info li::before {
  content: "\f105";
  font-family: "fontawesome";
  margin-right: 10px;
}
.detail {
  margin-top: 30px;
  margin-bottom: 40px;
  overflow: hidden;
}
.detail div {
  float: left;
  text-align: center;
  width: calc(100% / 3);
  font-size: 10px;
  font-weight: bold;
  color: #999;
  border-right: 1px solid #ddd;
}
.detail div:last-of-type {
  border-right: none;
}
.detail span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 30px;
  color: #222;
}
.project-info > a {
  font-size: 13px;
  background-color: #555;
  color: #fff;
  padding: 7px 30px;
  transition: 0.35s;
}
.project-info > a:hover {
  background-color: #000;
}
.project-info > a::after {
  content: "→";
  display: inline-block;
  margin-left: 10px;
  transform: scaleX(1.5);
  transition: 0.35s;
}
.project-info > a:hover::after {
  margin-left: 20px;
}
.project-photo {
  width: 75%;
}
.project-photo img {
  width: 100%;
}
input[type="radio"] {
  display: none;
}
.btn {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 25%;
  text-align: center;
}
.btn label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  margin: 8px;
}
.btn label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  display: inline-block;
  border: 1px solid transparent;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: 0.35s;
}
input[id="tab1"]:checked ~ .btn label[for="tab1"]::before,
input[id="tab2"]:checked ~ .btn label[for="tab2"]::before,
input[id="tab3"]:checked ~ .btn label[for="tab3"]::before,
.btn label:hover::before {
  border: 1px solid #777;
}
input[id="tab1"]:checked ~ .tabs {
  transform: translateX(0);
}
input[id="tab2"]:checked ~ .tabs {
  transform: translateX(-33.333333%);
}
input[id="tab3"]:checked ~ .tabs {
  transform: translateX(-66.666666%);
}
/* ########## Section : Plan ########## */
.plan-inner {
  background-color: #1d1b24;
  height: 100%;
}
.plan-feature {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plan-feature > div {
  height: 300px;
  color: #bbb;
}
.plan-info {
  height: auto;
  /* overflow: hidden; */
}
.plan-info > div {
  float: left;
}
.plan-heading {
  padding-right: 50px;
  width: 60%;
}
:is(.plan-heading, .history-info) h2 {
  position: relative;
  margin: 0;
  color: #fff;
  font-weight: bold;
  text-align: left;
  padding-bottom: 25px;
}
:is(.plan-heading, .history-info) h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 3px;
  background-color: #5cdac7;
}
.plan-heading p {
  margin-top: 30px;
  font-size: 17px;
  line-height: 1.5em;
}
.plan-photo {
  width: 40%;
}
.plan-photo img {
  height: 280px;
}
.history-item {
  margin-right: 10px;
}
.history-item h4 {
  color: #fff;
  font-size: 19px;
  font-weight: 500;
}
.history-item h4 span {
  color: dodgerblue;
}
.history-item p {
  line-height: 1.5em;
}
/* ##### Slick.js Custom CSS ##### */
.history-slider .slick-dots li.slick-active button:before {
  color: #fff;
  font-size: 15px;
}
.history-slider .slick-dots li button:before {
  color: #fff;
  font-size: 15px;
}
.slick-dots li {
  margin: 0 7px;
}
/* ########## Section : Awards ########## */
.awards-inner {
  height: 100%;
}
.awards-inner > div {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}
.about-awards {
  background-color: #1b2027;
}
.about-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  color: #fff;
  text-align: center;
}
.about-heading h2 {
  position: relative;
  padding-bottom: 30px;
  font-size: 35px;
}
.about-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 15%;
  height: 3px;
  background-color: crimson;
}
.about-heading p {
  color: #bbb;
  line-height: 1.5em;
  margin-bottom: 40px;
}
.about-heading a {
  color: #bbb;
  border: 1px solid #bbb;
  padding: 7px 20px;
  border-radius: 20px;
  transition: 0.5s;
}
.about-heading a:hover {
  background-color: #31c0ce;
  color: #fff;
  border-color: transparent;
}

.victory-jump {
  background-color: #fff;
}
.victory-jump img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
}
/* ########## Section : Location ########## */
.location-inner {
  position: relative;
  background: url(./images/background-location.jpg) no-repeat center center;
  height: 100%;
}
.location-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.85;
}
.feature {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  color: #bbb;
  z-index: 1;
}
.feature > div {
  float: left;
}
.office {
  width: 60%;
  padding-right: 100px;
}
.office-item:not(:last-of-type) {
  margin-bottom: 40px;
}
.office-item b {
  font-weight: normal;
}
.office-item h2 {
  margin: 0;
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
  color: #1db1f0;
}
.office-item p {
  font-size: 16px;
  line-height: 1.5em;
}
.office-item span {
  color: #fff;
}
.service {
  width: 40%;
}
.service-item:not(:last-of-type) {
  margin-bottom: 30px;
}
.service-item i {
  color: #1db1f0;
  font-size: 40px;
}
.service-item h3 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}
.service-item p {
  margin: 0;
  line-height: 1.5em;
  font-size: 16px;
}
/* ########## Section : Contact ########## */
.contact-inner {
  background-color: #fff;
  height: 100%;
}
.contact-feature {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-feature > div {
  width: 50%;
  height: 100%;
  float: left;
  padding: 20px;
}
.contact-form {
}
.contact-form h3 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}
.send-box label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.send-box label::after {
  content: " *";
  color: crimson;
}
.send-box input,
.send-box textarea {
  border-radius: 5px;
  border: 1px solid #bbb;
  outline: none;
  transition: 0.35s;
}
.send-box input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.send-box input:hover,
.send-box input:focus,
.send-box textarea:hover,
.send-box textarea:focus {
  border: 1px solid #0088cc;
  box-shadow: 0 0 10px #007dcd4d;
}
.send-box textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  padding: 10px;
  font-size: 16px;
}
.send-box button {
  margin: auto;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #0088cc;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.35s;
}
.send-box button:hover {
  background-color: #000;
}
.contact-info {
}
.contact-info h4 {
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 300;
}
.contact-info h4:not(:nth-of-type(1)) {
  margin-top: 35px;
}
.contact-info ul {
  margin: 0;
  padding: 0;
}
.contact-info li {
  line-height: 2em;
}
.contact-info li:last-of-type {
  color: #0088cc;
}
.contact-info p {
  line-height: 1.5em;
}
.business li::before {
  content: "\f017";
  font-family: "fontawesome";
  margin-right: 5px;
}
/* ########## SubPage - Hiring ########## */
.modal {
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 30px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
.header-inner {
  width: 95%;
  margin: auto;
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid #ddd;
}
.modal-display {
  font-size: 18px;
}
.hiring-main {
  position: relative;
  height: 600px;
}
.hiring-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hiring-heading span {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding: 0 5px;
}
.hiring-heading span::before,
.hiring-heading span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #222;
  display: inline-block;
}
.hiring-heading span::before {
  right: 110%;
}
.hiring-heading span::after {
  left: 110%;
}
.hiring-heading h1 {
  font-size: 100px;
  font-weight: 200;
  margin: 0;
  margin-top: 40px;
}
.hiring-info {
  overflow: hidden;
}
.hiring-info > div {
  width: 50%;
  float: left;
  height: 600px;
}
.center-parent {
  position: relative;
}
.center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.center-child h2 {
  font-size: 36px;
  font-weight: normal;
}
.center-child p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5em;
}
.photo img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.hiring-slogan {
  padding: 100px 0;
}
.hiring-slogan p {
  position: relative;
  font-size: 32px;
  font-weight: 300;
  width: 70%;
  margin: auto;
  text-align: center;
}
.hiring-slogan p::before {
  content: ",,";
  font-family: "Overpass", sans-serif;
  position: absolute;
  top: -80px;
  left: -60px;
  font-size: 200px;
  font-weight: 900;
  color: #ddd;
  transform: rotate(180deg);
}
.hiring-contact {
}
.hiring-contact ul {
  display: inline-block;
  width: 49%;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}
.hiring-contact li {
}
.hiring-contact ul li:first-of-type {
  font-weight: normal;
}
.hiring-contact ul li:last-of-type {
  color: dodgerblue;
}
.sns {
  margin-top: 10px;
}
.sns a {
  position: relative;
  font-size: 15px;
  color: #222;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  margin: 2px;
  transition: 0.35s;
}
.sns a:hover {
  color: #fff;
}
.sns a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: inherit;
  height: inherit;
  background-color: #ddd;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.35s;
}
.sns a:nth-of-type(1):before {
  background-color: #3b5999;
}
.sns a:nth-of-type(2):before {
  background-color: #55acee;
}
.sns a:nth-of-type(3):before {
  background-color: #0077b5;
}
.sns a:nth-of-type(4):before {
  background-color: #e4405f;
}
.sns a:nth-of-type(5):before {
  background-color: #cd201f;
}
.sns a:nth-of-type(6):before {
  background-color: #25d366;
}
.sns a:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
/* ########## SubPage : Project ########## */
.project-main1 {
  background: url(./images/project-modal-main-01.jpg) no-repeat center center /
    cover;
  height: 100vh;
}
.project-main2 {
  background: url(./images/project-modal-main-02.jpg) no-repeat center center /
    cover;
  height: 100vh;
}
.project-main3 {
  background: url(./images/project-modal-main-03.jpg) no-repeat center center /
    cover;
  height: 100vh;
}
.project-detail .hiring-heading {
  color: #fff;
  width: 100%;
  animation: slideDown 1s linear;
}
.project-detail .hiring-heading h1 {
  font-size: 70px;
}
.project-detail .hiring-slogan p::before {
  left: -100px;
}
.photo.project-info {
  font-size: 20px;
  font-weight: 300;
  padding-top: 120px;
}
.project-detail .hiring-heading span::before,
.project-detail .hiring-heading span::after {
  background-color: #fff;
}
/* ##### Animation ##### */
@keyframes slideDown {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
