/* ########## Mobile ########## */
@media (max-width: 767px) {
  /* ##### COMMON #####  */
  .inner {
    width: 100%;
  }
  /* ##### Top Button ##### */
  .btn_top {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .btn_top i {
    font-size: 35px;
    transform: translate(1px, 8px);
  }
  /* ##### Header ##### */
  .banner {
    display: none !important;
  }
  .nav_inner {
    width: 100%;
    padding: 10px 20px;
  }
  .gnb {
    position: absolute;
    top: 0;
    right: -230px;
    width: 230px;
    background-color: #fff;
    height: 100vh;
    text-align: center;
    padding-top: 70px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .gnb.active {
    right: 0;
  }
  .gnb a {
    color: #333;
    font-size: 22px;
    display: block;
    padding: 15px;
  }
  /* trigger */
  .trigger {
    display: block;
  }
  /* ##### Header ##### */
  .intro .heading {
    width: 100%;
    padding: 0 20px;
  }
  .intro .heading h1 {
    font-size: 45px;
  }
  .intro .heading p {
    margin-top: 30px;
  }
  /* ##### Section : About ##### */
  .about {
    padding: 70px 0;
  }
  .about .inner {
    padding: 0 20px;
    flex-direction: column-reverse;
  }
  .about .heading h2 {
    font-size: 35px;
  }
  .about .heading p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.5em;
  }
  .about .heading a {
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
  }
  /* ##### Section : Ranking ##### */
  .ranking {
    padding: 80px 20px;
  }
  .ranking h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .ranking .items {
    flex-direction: column;
    gap: 30px;
  }
  .ranking .item {
    border-radius: 10px;
  }
  .ranking .desc {
    height: auto;
  }
  /* ##### Section : Testimonial ##### */
  .testimonial {
    padding: 80px 20px;
  }
  .testimonial_content h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .testimonial_content h2::after {
    width: 20%;
  }
  .client {
    justify-content: center;
    gap: 15px;
  }
  .comment {
    text-align: center;
    padding-right: 0;
  }
  /* ##### Section : Call-Action ##### */
  .call-action {
    height: 35vh;
  }
  .call-action .heading {
    padding: 0 20px;
  }
  .call-action .heading h2 {
    margin-top: 0;
    font-size: 30px;
  }
  .call-action .heading a {
    font-weight: 400;
  }
  /* ##### Section : Blog ##### */
  .blog {
    padding: 70px 20px;
    padding-bottom: 20px;
  }
  .blog .heading {
    text-align: center;
  }
  .blog .heading span {
    font-size: 18px;
  }
  .blog .heading h2 {
    font-size: 24px;
  }
  .blog .heading p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .blog .heading a {
    font-size: 18px;
  }
  /* Main - Common */
  .main img {
    margin-top: 10px;
    width: 100%;
    display: block;
  }
  .main {
    flex-direction: column;
    gap: 0;
  }
  .main article > span,
  .main aside > span {
    display: block;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
  }
  .main article .item {
    flex-direction: column;
    padding-right: 0;
    gap: 0;
  }
  .main article .item:last-of-type {
    border-bottom: 1px solid #ddd;
  }
  .main article .desc {
    padding-bottom: 0;
    text-align: center;
  }
  .main .desc h3 {
    font-size: 25px;
    margin-top: 20px;
  }
  .main .desc p {
    font-size: 18px;
    line-height: 1.5em;
  }
  .main aside .item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    text-align: center;
  }
  .main aside .item:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
  /* ##### Section : Festival ##### */
  .festival {
    padding: 40px 30px;
    text-align: center;
  }
  .festival .links {
    margin-top: 20px;
  }
  .festival .links a {
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
  }
  /* ##### Section : Festival ##### */
  footer .inner {
    flex-direction: column;
    gap: 20px;
  }
  footer .wrapper {
    line-height: 1em;
    font-size: 17px;
  }
  footer .wrapper span {
    display: inline-block;
    padding: 10px;
  }
  footer .wrapper a {
    width: 100%;
    padding: 10px;
  }
}

/* ########## Tablet ########## */
@media (min-width: 768px) and (max-width: 1023px) {
  /* ##### COMMON #####  */
  .inner {
    width: 100%;
  }
  /* ##### Top Button ##### */
  .btn_top {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  .btn_top i {
    font-size: 35px;
    transform: translateY(10px);
  }
  /* ##### Header ##### */
  header .banner {
    padding: 15px 0;
  }
  .lnb {
    display: flex;
    justify-content: space-evenly;
  }
  .lnb a {
    font-size: 18px;
  }
  .nav_inner {
    width: 100%;
    justify-content: space-around;
  }
  /* ##### Section : Intro ##### */
  .intro .heading p {
    font-size: 25px;
  }
  /* ##### Section : About ##### */
  .about {
    padding: 100px 0;
  }
  .about .inner {
    padding: 0 50px;
    flex-direction: column-reverse;
  }
  .about .heading h2 {
    font-size: 40px;
  }
  .about .heading p {
    margin-top: 50px;
    font-size: 22px;
    line-height: 1.8em;
  }
  .about .heading a {
    display: inline-block;
    margin-top: 40px;
    font-size: 22px;
  }
  /* ##### Section : Ranking ##### */
  .ranking .inner {
  }
  .ranking h2 {
    text-align: center;
  }
  .ranking .items {
    flex-wrap: wrap;
    gap: 40px;
  }
  .ranking .item {
    flex: none;
    flex-basis: 43%;
  }
  .ranking .desc {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    height: 430px;
  }
  .ranking .desc .badge {
    width: fit-content;
  }
  .ranking .desc h3 {
    font-size: 25px;
  }
  .ranking .desc p {
    font-size: 18px;
    line-height: 1.7em;
  }
  .ranking .desc a {
    font-size: 18px;
    margin-top: auto;
  }
  /* ##### Section : Testimonial ##### */
  .testimonial .inner {
    padding: 0 40px;
  }
  .testimonial_content h2 {
    font-size: 30px;
  }
  .testimonial_content h2::after {
    width: 20%;
  }
  .my-slider {
    margin-top: 30px;
  }
  /* ##### Section : Call-Action ##### */
  .call-action {
    height: 40vh;
  }
  .call-action .heading a {
    font-size: 20px;
    font-weight: 400;
  }
  /* ##### Section : Blog ##### */
  .blog {
    padding: 80px 50px;
    padding-bottom: 0;
  }
  .blog .heading {
    text-align: center;
  }
  .blog .heading span {
    font-size: 20px;
  }
  .blog .heading h2 {
    font-size: 40px;
  }
  .blog .heading p {
    font-size: 25px;
    line-height: 1.7em;
  }
  .blog .heading a {
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
  }

  /* ##### Blog : Main ##### */
  .main {
    flex-direction: column;
    gap: 0;
  }
  .main article {
    flex: none;
    width: 100%;
  }
  .main article > span,
  .main aside > span {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  .main article .item {
    padding-right: 0;
    padding-bottom: 50px;
  }
  .main article .item:not(:first-of-type) {
    margin-top: 50px;
  }
  .main article .item:last-of-type {
    border-bottom: 1px solid #ddd;
  }
  .main img {
    flex: 1;
  }
  .main article .desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .main .desc h3 {
    font-size: 25px;
  }
  .main .desc p {
    font-size: 17px;
  }
  .main aside .item {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
  }
  .main aside .item:last-of-type {
    border-bottom: 0;
  }
  /* ##### Section : Festival ##### */
  .festival {
    padding: 50px 0;
  }
  .festival .heading {
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .festival .heading h2 {
    font-size: 35px;
    line-height: 1.3em;
  }
  .festival .heading h2 b {
    display: block;
  }
  .festival .links {
    width: 100%;
    margin-top: 20px;
  }
  .festival .links a {
    display: block;
    margin-bottom: 15px;
    font-size: 25px;
    width: 100%;
    padding: 10px;
  }
  /* ##### Footer ##### */
  footer .inner {
    flex-direction: column;
    gap: 30px;
  }
  footer .wrapper {
    line-height: 2.2em;
  }
  footer .wrapper span {
    font-size: 23px;
  }
  footer .wrapper a {
    font-size: 20px;
  }
  footer .copy-right p {
    font-size: 18px;
    line-height: 1.5em;
  }
  footer .copy-right p span {
    font-size: 18px;
  }
  footer .copy-right > span {
    display: inline-block;
    font-size: 18px;
    padding-bottom: 10px;
  }
}
