/* ############### Tablet ############### */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 20px;
  }
  .items {
    flex-wrap: wrap;
    gap: 20px;
  }
  .card {
    flex-basis: 100%;
    gap: 30px;
    padding: 15px;
  }
  .card_desc {
    flex-basis: 300px;
  }
}

/* ############### Mobile ############### */
@media (max-width: 767px) {
  .container {
    padding: 20px;
  }
  .items {
    flex-direction: column;
    gap: 20px;
  }
  .card {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}
