/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Default CSS */
* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
  color: #333;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  color: #333;
  background-color: #fff;
}
/* Entire Layout */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100%;
  position: relative;
}
.content {
  background-color: #ddd;
  position: absolute;
  top: 60px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
}
/* ########## Header ########## */
header {
  position: fixed;
  width: 100%;
}
.header-inner {
  width: calc(100vw - 40px);
  margin: auto;
  height: 60px;
}
.header-logo {
  float: left;
  line-height: 60px;
}
.header-logo img {
  display: inline-block;
  margin-top: 15px;
}
.gnb {
  float: right;
}
.gnb .menu {
  display: none;
}
.gnb-slogan {
  line-height: 60px;
}
.gnb-slogan em {
  color: #777;
  font-size: 22px;
  letter-spacing: 2px;
}
/* ########## Section : Home ########## */
.home-inner {
  background-color: #fff;
  height: 100%;
}
.welcome {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 300;
  opacity: 1;
  animation: slideUp 2s ease-in-out both;
}
.welcome h1 span {
  font-size: 28px;
}
.welcome h1 span::after {
  content: "\f004";
  font-family: "fontawesome";
  color: crimson;
  margin-left: 5px;
}
.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  animation: slideOverlay 1s 2s;
}
.home-background {
  border: 1px solid #000;
  position: relative;
  opacity: 0;
  height: 100%;
  background: url(./images/section-bg-01.jpg) no-repeat center center / cover;
  animation: background 1s 2.5s linear both;
}
.home-background > div {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translateY(-50%);
}
.home-background span {
  display: block;
  color: #fff;
  font-size: 130px;
  font-weight: bold;
  line-height: 1.1em;
  width: 0;
  overflow: hidden;
  animation: revealText 0.7s linear both;
}
.home-background span:nth-of-type(1) {
  animation-delay: 2.8s;
}
.home-background span:nth-of-type(2) {
  animation-delay: 3s;
}
.home-background span:nth-of-type(3) {
  animation-delay: 3.2s;
}

/* Home - Animation */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideOverlay {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@keyframes background {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes revealText {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* ########## Section : About ########## */
.about-inner {
  background: #0dace3 url(./images/line-drawing.png) no-repeat bottom right;
  height: 100%;
}
.about-items {
  position: absolute;
  top: 52%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.about-item {
  overflow: hidden;
  margin-bottom: 40px;
  width: 90%;
}
.about-item img {
  width: 120px;
  float: left;
  margin-right: 15px;
  filter: invert(100%);
  transition: 0.35s;
}
.about-item:hover img {
  filter: invert(0);
}
.about-item > div {
  color: #fff;
  margin-left: 15px;
}
.about-item h3 {
  font-size: 30px;
  font-weight: bold;
  transition: 0.35s;
}
.about-item:hover h3 {
  color: #000;
}
.about-item p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  margin-top: 5px;
}
/* ########## Section : Project ########## */
.project-inner {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
}
input[name="project-tab"] {
  display: none;
}
.project-tabs {
  width: 300%;
  height: inherit;
  transition: 0.5s;
}
.project-tab {
  float: left;
  width: calc(100% / 3);
  height: inherit;
}
.project-tab > div {
  float: left;
  height: inherit;
}
.project-desc {
  position: relative;
  width: 25%;
  height: inherit;
  padding: 20px;
  font-size: 17px;
}
.project-desc::before {
  content: attr(data-number);
  position: absolute;
  top: 25px;
  left: 5px;
  font-weight: bold;
  font-size: 100px;
  color: #eee;
}
.project-desc h3 {
  position: relative;
  margin-top: 8px;
  font-size: 22px;
}
.project-desc p {
  margin-top: 20px;
  line-height: 1.5em;
  font-weight: normal;
}
.project-desc ul {
  padding: 0;
}
.project-desc ul li::before {
  content: "\f105";
  font-family: "fontawesome";
  font-weight: normal;
  margin-right: 5px;
  line-height: 2em;
}
.coast {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.coast div {
  display: inline-block;
  width: 32%;
  font-weight: 300;
  border-right: 1px solid #ddd;
  padding: 3px;
  font-size: 13px;
}
.coast div:last-of-type {
  border-right: none;
}
.coast div b {
  display: block;
  font-size: 40px;
  margin-bottom: 10px;
}
.view-project {
  background-color: #555;
  color: #fff;
  padding: 7px 30px;
  transition: 0.35s;
}
.view-project::after {
  content: "→";
  display: inline-block;
  transform: scaleX(1.3);
  margin-left: 10px;
  transition: 0.35s;
}
.view-project:hover {
  background-color: #000;
}
.view-project:hover::after {
  margin-left: 20px;
}
.project-photo {
  width: 75%;
}
/* Project - Tab Button */
.btn_tab {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25%;
  text-align: center;
}
.btn_tab label {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
  transition: 0.35s;
}
input[id="tab1"]:checked ~ .btn_tab label[for="tab1"],
input[id="tab2"]:checked ~ .btn_tab label[for="tab2"],
input[id="tab3"]:checked ~ .btn_tab label[for="tab3"] {
  background-color: #555;
}
input[id="tab1"]:checked ~ .project-tabs {
  transform: translateX(0);
}
input[id="tab2"]:checked ~ .project-tabs {
  transform: translateX(-33.333333%);
}
input[id="tab3"]:checked ~ .project-tabs {
  transform: translateX(-66.666666%);
}

/* ########## Section : Plan ########## */
.plan-inner {
  background-color: #1d1b24;
  color: #fff;
  height: 100%;
}
.plan-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.plan-heading {
  overflow: hidden;
}
.plan-heading > div {
  float: left;
}
.plan-desc {
  width: 60%;
  padding-right: 50px;
}
.plan-desc h2,
.plan-history h2 {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.plan-desc h2::after,
.plan-history h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 5px;
  background-color: #74ffea;
}
.plan-desc p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.plan-photo {
  width: 40%;
}
.plan-photo img {
  height: 250px;
}
.plan-history {
  margin-top: 20px;
}
.plan-slider-item h3 {
  font-size: 22px;
  line-height: 1.5em;
}
.plan-slider-item h3 span {
  color: #74ffea;
}
.plan-slider-item p {
  font-size: 16px;
  margin: 0;
  margin-top: 5px;
  font-weight: 300;
  padding-right: 20px;
  line-height: 1.5em;
}
/* Slick.js Custom CSS */
.slick-dots {
  bottom: -50px;
}
.slick-dots li.slick-active button:before {
  color: #bbb;
  font-size: 15px;
}
.slick-dots li button:before {
  color: #fff;
  font-size: 15px;
}
/* ########## Section : Awards ########## */
.awards-inner {
  height: 100%;
}
.awards-inner > div {
  width: 50%;
  height: inherit;
  float: left;
}
.victory-awards {
  background-color: #1b2027;
  position: relative;
  height: inherit;
}
.victory-heading {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.victory-heading h2 {
  position: relative;
  color: #fff;
  font-size: 40px;
  padding-bottom: 20px;
}
.victory-heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 3px;
  background-color: crimson;
}
.victory-heading p {
  font-size: 19px;
  line-height: 1.5em;
  font-weight: 300;
  color: #ddd;
}
.victory-heading a {
  display: inline-block;
  font-size: 19px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 7px 20px;
  color: #ddd;
  text-transform: uppercase;
  margin-top: 10px;
  transition: 0.35s;
}
.victory-heading a:hover {
  background-color: #3ac1b0;
}
.victory-jump {
  background-color: #fff;
}
.victory-jump .photo {
  padding: 50px;
}
.victory-jump .photo img {
  width: 100%;
}
/* ########## Section : Location ########## */
.location-inner {
  position: relative;
  height: 100%;
  color: #ddd;
  background: url(./images/background-location.jpg) no-repeat center center /
    cover;
}
.location-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.location-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  z-index: 1;
}
.location-center > div {
  float: left;
}
.location-desc {
  width: 60%;
  padding-right: 50px;
  font-size: 20px;
  font-weight: 300;
}
.location-desc-item:first-child {
  margin-bottom: 50px;
}
.location-desc-item b {
  font-size: 20px;
  font-weight: 400;
}
.location-desc-item h2 {
  margin-top: 5px;
  font-weight: bold;
  color: #1db1f0;
}
.location-desc-item p {
  line-height: 1.5em;
}
.location-desc-item span {
  color: #fff;
}
.location-detail {
  width: 40%;
}
.location-detail-item {
  margin-bottom: 40px;
}
.location-detail-item:last-child {
  margin-bottom: 0;
}
.location-detail-item .fa {
  font-size: 40px;
  color: #1db1f0;
  margin-bottom: 10px;
}
.location-detail-item h3 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
.location-detail-item p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 10px;
  margin-bottom: 0;
}
/* ########## Section : Contact ########## */
.contact-inner {
  height: 100%;
  background-color: #fff;
}
.contact-center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.contact-center > div {
  float: left;
  width: 50%;
}
.contact-form {
  padding-right: 50px;
}
.contact-form > h3 {
  font-size: 30px;
  font-weight: 300;
}
.contact-form > p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}
.input-field {
  margin-bottom: 20px;
}
.input-field:last-of-type {
  margin-bottom: 10px;
}
.input-field label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.input-field label::after {
  content: " *";
  color: crimson;
}
.input-field input {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  transition: 0.35s;
}
.input-field input:hover,
.input-field textarea:hover {
  border: 1px solid #1e90ff;
  box-shadow: 0 0 10px #1e90ff4d;
}
.input-field input:focus,
.input-field textarea:focus {
  background-color: #eee;
}
.input-field textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 170px;
  max-height: 170px;
  border-radius: 5px;
  border: 1px solid #bbb;
  transition: 0.35s;
  font-size: 20px;
  padding: 15px;
}
.contact-form button {
  background-color: #0088cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 18px;
}
.contact-desc h4 {
  font-size: 27px;
  font-weight: 300;
  margin-bottom: 5px;
}
.contact-desc ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.contact-desc ul li {
  line-height: 1.8em;
  font-size: 18px;
}
.contact-desc ul li:last-of-type {
  color: #0088cc;
}
.business-hours li::before {
  content: "\f017";
  font-family: "fontawesome";
  margin-right: 10px;
}
.contact-desc p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
/* ########## Hiring Button ########## */
.btn_hiring {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.5);
}
.btn_hiring a {
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
}
.btn_hiring a::before {
  display: inline-block;
  content: "\f27a";
  font-family: "fontawesome";
  margin-right: 5px;
  transform: rotateY(180deg);
}
/* ########## Sub Page - Hiring ########## */
.hiring-modal {
  background-color: #fff;
}
.hiring-modal *:not(i.fa) {
  font-family: "Raleway", sans-serif;
}
.hiring-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  z-index: 100;
}
.hiring-header-inner {
  margin: auto;
  width: 95%;
  height: inherit;
  border-bottom: 1px solid #ddd;
}
.hiring-header-inner span {
  font-size: 20px;
}
.hiring-heading {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
}
.hiring-heading span {
  position: relative;
  font-size: 25px;
  font-weight: bold;
}
.hiring-heading span::before,
.hiring-heading span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background-color: #000;
}
.hiring-heading span::before {
  right: 100px;
}
.hiring-heading span::after {
  left: 100px;
}
.hiring-heading h1 {
  font-weight: 300;
  font-size: 90px;
  margin-top: 50px;
}
.together {
  overflow: hidden;
}
.together > div,
.talent > div {
  float: left;
  width: 50%;
  height: 600px;
}
.together-desc {
  position: relative;
  height: 100%;
}
.together-desc-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.together-desc h2,
.talent-desc h2 {
  font-size: 34px;
  font-weight: 500;
}
.together-desc p,
.talent-desc p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
}
.together-photo,
.talent-photo {
  width: 100%;
  height: 100%;
}
.together-photo img,
.talent-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hiring-slogan {
  margin-top: 120px;
  margin-bottom: 100px;
}
.hiring-slogan p {
  position: relative;
  width: 70%;
  margin: auto;
  left: 5%;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.3em;
  z-index: 0;
}
.hiring-slogan p::before {
  content: ",,";
  position: absolute;
  top: 0;
  left: -100px;
  font-family: "Lato", sans-serif;
  transform: rotate(180deg);
  color: #eee;
  font-size: 200px;
  z-index: -1;
}
.talent {
  overflow: hidden;
  margin-bottom: 30px;
}
.talent-desc {
  position: relative;
}
.talent-desc-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
}
.talent-desc ul {
  display: inline-block;
  width: 49%;
  list-style: none;
  padding: 0;
  text-align: left;
  line-height: 2.5em;
}
.talent-desc ul li {
  font-size: 18px;
  font-weight: 300;
}
.talent-desc ul li:first-child {
  font-weight: 500;
}
.talent-desc ul li:last-child {
  color: dodgerblue;
}
.sns {
  margin-top: 20px;
}
.sns a {
  position: relative;
  margin: 15px;
  font-size: 22px;
  transition: 0.35s;
}
.sns a:hover {
  color: #fff;
}
.sns a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: -1;
  transition: 0.35s;
}
.sns a:nth-of-type(1)::after {
  background-color: #0a66c2;
}
.sns a:nth-of-type(2)::after {
  background-color: #1da1f2;
}
.sns a:nth-of-type(3)::after {
  background-color: #410093;
}
.sns a:nth-of-type(4)::after {
  background-color: #e4405f;
}
.sns a:nth-of-type(5)::after {
  background-color: #cd201f;
}
.sns a:nth-of-type(6)::after {
  background-color: #25d366;
}
.sns a:hover::after {
  transform: translate(-50%, -50%) scale(1);
}
/* ########## Sub Page - Project ########## */
.project-modal {
}
.project-heading1 {
  background: url(./images/project-main-01-01.jpg) no-repeat center center /
    cover;
  color: #fff;
}
.project-heading2 {
  background: url(./images/project-main-02-01.jpg) no-repeat center center /
    cover;
  color: #fff;
}
.project-heading3 {
  background: url(./images/project-main-03-01.jpg) no-repeat center center /
    cover;
  color: #fff;
}
.project-heading {
  height: 100vh;
  padding-top: 300px;
}
.hiring-heading.project-heading span::before,
.hiring-heading.project-heading span::after {
  background-color: #fff;
  height: 2px;
}
.hiring-heading.project-heading span::before {
  margin-right: 20px;
}
.hiring-heading.project-heading span::after {
  margin-left: 20px;
}
.project-heading h1 {
  margin-top: 70px;
  font-size: 70px;
}
.project-main {
}
.project-desc-info {
  position: relative;
}
.project-desc-info ul {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2.5em;
  font-size: 20px;
}
.project-desc-info ul li::before {
  content: "\f105";
  font-family: "fontawesome";
  margin-right: 10px;
}
.project-desc-inner h2 {
  font-size: 30px;
  margin-top: 20px;
}
.hiring-slogan.project-slogan p {
  font-size: 35px;
  left: 3%;
}
