/* Reset CSS */
* {
  box-sizing: border-box;
}
body {
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* icons */
.icons {
  display: flex;
}
/* icon */
.icon {
  position: relative;
  width: 125px;
  height: 125px;
}
.icon img {
}
.icon span {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.icon span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: #000;
}
.icon:hover span {
  opacity: 1;
  visibility: visible;
}
