/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* XEICON CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* Reset CSS */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
input,
button {
  outline: none;
}
button {
  cursor: pointer;
}

/* body */
body {
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #333;
  background: url(./img/background.png);
}
section {
  height: inherit;
}
.inner {
  width: 1200px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* - - - - - login - - - - - */
.login {
  padding: 50px 40px 30px 40px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.heading {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
}
.email {
  margin-top: 40px;
}
.password {
  margin-top: 20px;
}
:is(.email, .password) span {
  display: block;
  text-align: left;
  font-weight: 500;
}
:is(.email, .password) input {
  width: 100%;
  padding: 10px 0;
  padding-left: 30px;
  border: none;
  border-bottom: 1px solid #bbb;
}
.email input {
  background: url(./img/icon-user.png) no-repeat center left 2px;
}
.password input {
  background: url(./img/icon-password.png) no-repeat center left 2px;
}
:is(.email, .password) input:focus::placeholder {
  opacity: 0;
}
.check_area {
  margin-top: 20px;
  overflow: auto;
}
.check_area > div {
  float: left;
}
.check_area input {
  display: none;
}
.check_area label {
  cursor: pointer;
}
.check_area label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(./img/icon-checkbox.png) no-repeat;
  background-position: center left;
  vertical-align: text-bottom;
  margin-right: 5px;
  transform: translateY(-1px);
}
.check_area input:checked + label::before {
  background-position: center right;
}
.check_area a {
  float: right;
}
.check_area a:hover {
  text-decoration: underline;
  color: #bbb;
}
.radio_area {
  margin-top: 20px;
}
.radio_area .radio {
}
.radio_area input {
  display: none;
}
.radio_area label {
  cursor: pointer;
}
.radio_area label:nth-of-type(1) {
  margin-right: 15px;
}
.radio_area label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(./img/icon-radio.png) no-repeat;
  background-position: center left;
  vertical-align: text-bottom;
  margin-right: 5px;
  transform: translateY(-1px);
}
.radio_area input:checked + label::before {
  background-position: center right;
}
.radio_area + button {
  margin-top: 20px;
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 7px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #fff;
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
}
.other_login {
  margin-top: 25px;
}
.sns {
  margin-top: 10px;
}
.sns a {
  margin: 5px;
}
.sns a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.sns a:nth-child(1) i {
  background-color: #e75735;
}
.sns a:nth-child(2) i {
  background-color: #395994;
}
.sns a:nth-child(3) i {
  background-color: #00a300;
}
.sns a:nth-child(4) i {
  background-color: #ffd200;
}
.sign_up {
  margin-top: 25px;
}
.sign_up a {
  border: 1px solid red;
}
.sign_up a:hover {
  text-decoration: underline;
  color: #bbb;
}
