/* Reset CSS */
* {
  box-sizing: border-box;
}
body {
  line-height: 1.5em;
  height: 100vh;
  color: #333;
}

/* content */

.dropdown {
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.dropdown_btn {
  width: inherit;
}
.dropdown_btn button {
  width: 100%;
  padding: 10px;
  background-color: greenyellow;
  border: none;
  border-radius: 5px 5px 0 0;
  opacity: 0.8;
  cursor: pointer;
  font-size: 20px;
}
.dropdown_btn button:hover {
  opacity: 1;
}
.dropdown_submenu {
  display: none;
}
.dropdown:hover .dropdown_submenu {
  display: block;
}
.dropdown_submenu a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  background-color: #eee;
  opacity: 0.8;
}
.dropdown_submenu a:hover {
  opacity: 1;
}
.dropdown_submenu a:last-child {
  border-radius: 0 0 5px 5px;
}
