/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* body */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/snow-photo.jpg) no-repeat center center fixed;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* search_bar */
.search_bar {
  text-align: center;
}
.search_bar h1 {
  color: #fff;
  font-weight: 300;
  font-size: 50px;
}
.search_bar input[type="text"],
.search_bar input[type="submit"] {
  border: none;
  padding: 20px;
  font-size: 20px;
}
.search_bar input[type="text"] {
  width: 400px;
  margin-right: -6px;
  border-radius: 50px 0 0 50px;
  padding-left: 40px;
  outline: none;
}
.search_bar input[type="text"]::placeholder {
  font-style: italic;
}
.search_bar input[type="text"]:focus::placeholder {
  color: transparent;
}
.search_bar input[type="submit"] {
  width: 150px;
  border-radius: 0 50px 50px 0;
  color: #fff;
  background-color: orange;
  cursor: pointer;
}
