/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* container */
.container {
}
/* app_ui */
.app_ui {
  position: relative;
  width: 360px;
  height: 640px;
  transform: rotate(-30deg) skewX(20deg) scale(0.8);
  background-color: #ddd;
  transition: 0.3s;
}
.app_ui:hover {
  box-shadow: -100px 100px 40px rgba(0, 0, 0, 0.3);
}
.app_ui img {
  position: absolute;
  transition: 0.3s;
}

.app_ui:hover img:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: 0.4;
}
.app_ui:hover img:nth-child(2) {
  transform: translate(80px, -80px);
  opacity: 0.6;
}
.app_ui:hover img:nth-child(3) {
  transform: translate(120px, -120px);
  opacity: 0.8;
}
.app_ui:hover img:nth-child(4) {
  transform: translate(160px, -160px);
  opacity: 1;
}
